<p>This WebSocket study was created using Cloud Run, Docker, Angular, TypeScript, Spring, Java, and Stomp.</p>
<button [disabled]="connecting" (click)="connect()">CONNECT</button><br />
<textarea #message>Hello, websocket!</textarea><br />
<button [disabled]="connecting" (click)="sendMessage(message.value)">SEND MESSAGE</button><br />
@if (websocketResponse) {
  <p>The websocket service has responded with <b>{{ websocketResponse }}</b>.</p>
}
<button [disabled]="connecting" (click)="disconnect()">DISCONNECT</button><br />
@if (connecting) {
  <p>Connecting...</p>
}
