<p>This end user authentication study was created with Cloud Run, Docker, Angular, TypeScript, Spring, Java, Firebase, and Identity Platform.</p>
<button [disabled]="loading" (click)="signUp()">Sign up</button><br />
<button [disabled]="loading" (click)="signIn()">Sign in</button><br />
<p *ngIf="token">
    Your security token is <b><code>{{token}}</code></b>.
</p>
<button [disabled]="loading" (click)="signOut()">Sign out</button><br />
<button [disabled]="loading" (click)="fetchWeather()">Fetch weather</button><br />
<p *ngIf="loading">Loading...</p>
