<div *ngFor="let message of conversation; let i = index">
    <b class="chat-message" *ngIf="i%2===1">{{message}}</b>
    <code class="chat-message" *ngIf="i%2===0">{{message}}</code>
</div>

<textarea #message class="chat-input" placeholder=""></textarea><br />
<button (click)="submitAIQuery(message.value); message.value = ''">Submit</button><br />

<span *ngIf="
    project.includes('cube') ||
    project.includes('data') ||
    project.includes('auth') ||
    project.includes('socket')
">
    <br>
    <hr>
    <br>
    <app-cube *ngIf="project.includes('cube')"></app-cube>
    <app-data-stream *ngIf="project.includes('data')"></app-data-stream>
    <app-auth *ngIf="project.includes('auth')"></app-auth>
    <app-websocket *ngIf="project.includes('socket')"></app-websocket>
</span>
