@for (message of conversation; track message; let i = $index) {
  <div>
    @if (i%2===1) {
      <b class="chat-message">{{message}}</b>
    }
    @if (i%2===0) {
      <code class="chat-message">{{message}}</code>
    }
  </div>
}

@if (thinking) {
  <i class="chat-message">Thinking...</i>
}
<textarea #message class="chat-input"></textarea><br />
<button
  [disabled]="thinking"
  (click)="submitAIQuery(message.value); message.value = ''"
>Submit</button>
@if (project && project != 'other') {
  <span>
    <br>
    <br>
    <hr>
    <br>
    @if (project.includes('cube')) {
      <app-cube></app-cube>
    }
    @if (project.includes('data')) {
      <app-data-stream></app-data-stream>
    }
    @if (project.includes('auth')) {
      <app-auth></app-auth>
    }
    @if (project.includes('socket')) {
      <app-websocket></app-websocket>
    }
    @if (project.includes('machine-learning')) {
      <app-machine-learning></app-machine-learning>
    }
  </span>
}
