<div [formGroup]="securityFormGroup">
    <div formGroupName="userIntake">
    <label for="users-name">User's name: </label>
    <input id="users-name" type="text" formControlName="usersName" />
    @if((userName?.dirty || userName?.touched) && userName?.hasError('required')) {
        <div>User name field is required!</div>
    }
    @if((userName?.dirty || userName?.touched) && userName?.hasError('forbiddenCharacterSequence')) {
        <div>q is not allowed!</div>
    }
    <br />
    <label for="users-pets-name">User's pet's name: </label>
    <input id="users-pets-name" type="text" formControlName="usersPetsName" />
    <br />
    </div>
</div>
