@if (currentStep === 1) {
  <app-welcome></app-welcome>
}
@if (currentStep === 2) {
  <app-user-intake
    [(securityFormGroup)]="securityForm"
  ></app-user-intake>
}
@if (currentStep === 3) {
  <app-security-intake
    [(securityFormGroup)]="securityForm"
  ></app-security-intake>
}
@if (currentStep === 4) {
  <app-confirmation
  ></app-confirmation>
}

<button (click)="previous()">PREVIOUS</button>
<button (click)="next()">NEXT</button>
<button (click)="submit()" [disabled]="!securityForm.valid">SUBMIT</button>

<hr />

<app-signal-form></app-signal-form>
