<p>This machine learning study was developed with Express, Node.js, JavaScript, Angular, TypeScript, and Tensorflow.</p>
<br />
<button (click)="generateRenderTrainingData()">Generate and render training data</button><br />
<button (click)="trainModelRenderTrainingReport()">Train model with training data and render training report</button><br />
<button (click)="getLinearRegressionPredictions()">Get and render linear regression predictions</button><br />
<button (click)="getRenderModelConfiguration()">Get and render model configuration</button><br />
@if (trainingData.length) {
    <br />
    <hr />
    <br />
}
<div #linearregressiongraph style="width: 90%; margin: auto"></div>
@if (trainingReport || training) {
    <br />
    <hr />
    <br />
}
@if (training) {
  <i class="training-message">Training...</i>
}
<div #trainingreportgraphs style="width: 90%; margin: auto"></div>
@if (modelConfiguration) {
    <br />
    <hr />
    <br />
}
<div #modeltable style="width: 90%; margin: auto"></div>
