<p>This machine learning study was developed with Express, Node.js, JavaScript, Angular, TypeScript, and Tensorflow.</p>
<br />
<button (click)="generateRenderUnivariateTrainingData()">Generate and render univariate training data</button><br />
<button [disabled]="!univariateData" (click)="trainModelRenderTrainingReport()">Train sequential model with univariate training data and render training report</button><br />
<button [disabled]="trainingRequired" (click)="getLinearRegressionPredictions()">Get and render univariate linear regression predictions</button><br />
<button (click)="getRenderUnivariateModelConfiguration()">Get and render univariate model configuration</button><br />
@if (univariateData) {
    <br />
    <hr />
    <br />
}
<div #linearregressiongraph style="width: 90%; margin: auto"></div>
@if (trainingReport || training) {
    <br />
    <hr />
    <br />
}
@if (training) {
  <i class="training-message">Training...</i>
}
<div #trainingreportgraphs style="width: 90%; margin: auto"></div>
@if (modelConfiguration) {
    <br />
    <hr />
    <br />
}
<div #modeltable style="width: 90%; margin: auto"></div>
<br />
<hr />
<br />
<button (click)="getRenderMultivariateTrainingData()">Get and render multivariate training data</button><br />
<div #multivariatedatatable style="width: 90%; margin: auto"></div>
