/* You can add global styles to this file, and also import other style files */
button, p, textarea, input, canvas {
    margin: 5px;
    word-wrap:break-word;
}

canvas {
    width: 800px;
    height: 450px;
}

.no-margin canvas {
    margin: 0;
    border: 1px solid black;
}

.chat-message {
    padding:5px;
    display:block
}